services:
  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - '7060:3000'
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  grafana_data:
