# The Containers that compose the project
services:
  database:
    container_name: sandbox-mysql
    image: mysql:9.5.0
    restart: always
    ports:
      - "7020:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./data:/var/lib/mysql
      - ./my.cnf:/etc/mysql/my.cnf
    networks:
      - mysql-network
networks:
  mysql-network:
    driver: bridge
volumes:
  mysql-volume:
