# The Containers that compose the project
services:
  postgres-db:
    image: postgres:17.7
    restart: always
    container_name: sandbox-postgres
    ports:
      - "7010:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: sandbox
    # Uncomment for Persistend data
    volumes:
      - "./data:/var/lib/postgresql/data"
    networks:
      - network_db
networks:
  network_db:
    external: true
